{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-12">
            <h4>설문 목록</h4>
        </div>
        {% if question_list %}
            {% for question in question_list %}
            <div class="col-4 my-3">
                <div class="card" style="height: 12rem">
                    <div class="card-body">
                        <div class="card-text my-2" style="line-height: 2rem">
                            {{ question.question_text }}
                        </div>
                        <a href="{% url 'poll:detail' question.id %}"
                            class="btn btn-primary my0-4">투표하기</a>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% else %}
                <p>설문이 없습니다.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}