{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
<!-- 검색창   -->
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw"
                    value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th style="width: 55%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list  %}
            {% for question in question_list %}
            <tr>
                <!-- 전체게시물수 - 시작인덱스 - 현재인덱스 + 1 -->
                <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td>
                    <a href="{% url 'pybo:detail' question.id %}">
                        {{ question.subject }}
                    </a>
                </td>
                <td>{{ question.author.username }}</td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
    <!-- 이전 페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="#"
                data-page="{{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#" >
                이전
            </a>
        </li>
        {% endif %}

    <!-- 현재 페이지 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#" data-page="{{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="#" data-page="{{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="#" data-page="{{ question_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#" >
                다음
            </a>
        </li>
        {% endif %}
    </ul>

    <!-- 페이징 처리 끝-->
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록</a>
</div>
<!--검색 폼-->
<form id="searchForm" method="get" action="{% url 'pybo:board' %}">
    <input type="hidden" name="kw" id="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" name="page" id="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        //페이지 클릭
        $(".page-link").on('click', function(){
            $('#page').val($(this).data('page'));   //data-page의 값을 id가 page인 필드에 설정
            $('#searchForm').submit();  //폼을 전송
        });

        //검색 버튼 클릭
        $("#btn_search").on('click', function(){
            $('#kw').val($('.kw').val());  // 입력된 kw값을 id가 kw인 필드에 설정
            $('#page').val(1);             // 1페이지부터 검색
            $('#searchForm').submit();
        });
    });
</script>

{% endblock %}
