{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Hello~ PyWeb!</title>
    <link rel="stylesheet" href="{% static 'pybo/css/bootstrap.css' %}">
    <!--<link rel="stylesheet" href="{% static 'pybo/css/style.css' %}">-->
</head>
<body>
<!--네비게이션 바-->
{% include 'navbar.html' %}
<!--기본 템플릿 안에 삽입될 내용 start-->
{% block content %}

{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 End-->
<!-- 햄버거 메뉴 -->
<script src="{% static 'pybo/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'pybo/js/bootstrap.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}

{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>